# Agrupacion de Datos

In [2]:
import pandas as pd
import numpy as np

Vamos a crear un dataset a partir de numeros aleatorios

In [3]:
gender = ["Male", "Female"]
income = ["Poor", "Middie Class", "Rich"]

In [6]:
n = 500
gender_data = []
income_data = []

for i in range(0, n):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [8]:
gender_data[1:10]

['Male',
 'Female',
 'Male',
 'Female',
 'Female',
 'Female',
 'Female',
 'Male',
 'Male']

In [9]:
income_data[1:10]

['Middie Class',
 'Poor',
 'Poor',
 'Middie Class',
 'Middie Class',
 'Poor',
 'Rich',
 'Rich',
 'Poor']

In [11]:
#N(0,1)
#N(m, s) -> m + s * z

height = 160 + 30 * np.random.randn(n)
weight = 65 +25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 30000 + 6500 * np.random.randn(n)

In [12]:
data = pd.DataFrame(
    {
        "Gender": gender_data,
        "Economic Status": income_data,
        "Height": height,
        "Weight": weight,
        "Age": age,
        "Income": income
    
    }
)

In [13]:
data.head()

   Gender Economic Status      Height      Weight        Age        Income
0  Female    Middie Class  156.280263   94.255242  12.088789  28736.934449
1    Male    Middie Class  157.829035   82.251340  32.749112  28598.566368
2  Female            Poor  156.422672   84.298652  16.093541  40612.836567
3    Male            Poor  200.808667  127.516012  22.913450  29599.146270
4  Female    Middie Class  188.388795   76.340465  37.850816  30752.975904